In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\Livspace\Desktop\Data Science\ML-2-20200512T202258Z-001\ML-2\googleplaystore.csv")

In [3]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,NaN
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,500000,Free,0,Everyone,Art & Design,Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,NaN
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,50000000,Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,NaN
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,100000,Free,0,Everyone,Art & Design,Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
d=data.Category.value_counts().to_dict()
i=data.Category.unique()
k_range=range(0,34)
for k in k_range:
    d[i[k]]=k
print(d)

{'FAMILY': 18, 'GAME': 17, 'TOOLS': 25, 'MEDICAL': 19, 'BUSINESS': 4, 'PRODUCTIVITY': 27, 'PERSONALIZATION': 26, 'COMMUNICATION': 6, 'SPORTS': 23, 'LIFESTYLE': 16, 'FINANCE': 11, 'HEALTH_AND_FITNESS': 13, 'PHOTOGRAPHY': 22, 'SOCIAL': 20, 'NEWS_AND_MAGAZINES': 31, 'SHOPPING': 21, 'TRAVEL_AND_LOCAL': 24, 'DATING': 7, 'BOOKS_AND_REFERENCE': 3, 'VIDEO_PLAYERS': 30, 'EDUCATION': 8, 'ENTERTAINMENT': 9, 'MAPS_AND_NAVIGATION': 32, 'FOOD_AND_DRINK': 12, 'HOUSE_AND_HOME': 14, 'LIBRARIES_AND_DEMO': 15, 'AUTO_AND_VEHICLES': 1, 'WEATHER': 29, 'ART_AND_DESIGN': 0, 'EVENTS': 10, 'PARENTING': 28, 'COMICS': 5, 'BEAUTY': 2, '1.9': 33}

In [5]:
x=data.Category.value_counts().to_dict()

In [6]:
data['count']=data.Category.map(d)
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Unnamed: 13,count
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,NaN,0
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,500000,Free,0,Everyone,Art & Design,Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,0
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,NaN,0
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,50000000,Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,NaN,0
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,100000,Free,0,Everyone,Art & Design,Creativity,"June 20, 2018",1.1,4.4 and up,0

In [7]:
A=data[['count','Installs']]

In [8]:
a= A[A['Installs']!= 'Free']
a

       count  Installs
0          0     10000
1          0    500000
2          0   5000000
3          0  50000000
4          0    100000
...      ...       ...
10836     18      5000
10837     18       100
10838     19      1000
10839      3      1000
10840     16  10000000

[10840 rows x 2 columns]

In [9]:
a.reset_index(drop=True,inplace=True)
a

       count  Installs
0          0     10000
1          0    500000
2          0   5000000
3          0  50000000
4          0    100000
...      ...       ...
10835     18      5000
10836     18       100
10837     19      1000
10838      3      1000
10839     16  10000000

[10840 rows x 2 columns]

In [10]:
a['Installs']=pd.to_numeric(a['Installs'])

C:\Users\Livspace\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
a

       count  Installs
0          0     10000
1          0    500000
2          0   5000000
3          0  50000000
4          0    100000
...      ...       ...
10835     18      5000
10836     18       100
10837     19      1000
10838      3      1000
10839     16  10000000

[10840 rows x 2 columns]

In [12]:
app=a.groupby(['count'],as_index=False).sum()

In [13]:
app.reset_index(inplace=True,drop=True)
app

    count     Installs
0       0    124338100
1       1     53130211
2       2     27197050
3       3   1921469576
4       4   1001914865
5       5     56086150
6       6  32647276251
7       7    264310807
8       8    871452000
9       9   2869160000
10     10     15973161
11     11    876648734
12     12    273898751
13     13   1583072512
14     14    168712461
15     15     62995910
16     16    537643539
17     17  35086024415
18     18  10258263505
19     19     53257437
20     20  14069867902
21     21   3247848785
22     22  10088247655
23     23   1751174498
24     24   6868887146
25     25  11452771915
26     26   2325494782
27     27  14176091369
28     28     31521110
29     29    426100520
30     30   6222002720
31     31   7496317760
32     32    724281890

In [14]:
d_inv={i:j for j, i in d.items()}

In [15]:
d.items()

dict_items([('FAMILY', 18), ('GAME', 17), ('TOOLS', 25), ('MEDICAL', 19), ('BUSINESS', 4), ('PRODUCTIVITY', 27), ('PERSONALIZATION', 26), ('COMMUNICATION', 6), ('SPORTS', 23), ('LIFESTYLE', 16), ('FINANCE', 11), ('HEALTH_AND_FITNESS', 13), ('PHOTOGRAPHY', 22), ('SOCIAL', 20), ('NEWS_AND_MAGAZINES', 31), ('SHOPPING', 21), ('TRAVEL_AND_LOCAL', 24), ('DATING', 7), ('BOOKS_AND_REFERENCE', 3), ('VIDEO_PLAYERS', 30), ('EDUCATION', 8), ('ENTERTAINMENT', 9), ('MAPS_AND_NAVIGATION', 32), ('FOOD_AND_DRINK', 12), ('HOUSE_AND_HOME', 14), ('LIBRARIES_AND_DEMO', 15), ('AUTO_AND_VEHICLES', 1), ('WEATHER', 29), ('ART_AND_DESIGN', 0), ('EVENTS', 10), ('PARENTING', 28), ('COMICS', 5), ('BEAUTY', 2), ('1.9', 33)])

In [16]:
app['count'] = app['count'].map(d_inv)

In [17]:
app.sort_values(by='Installs',ascending=True)

                  count     Installs
10               EVENTS     15973161
2                BEAUTY     27197050
28            PARENTING     31521110
1     AUTO_AND_VEHICLES     53130211
19              MEDICAL     53257437
5                COMICS     56086150
15   LIBRARIES_AND_DEMO     62995910
0        ART_AND_DESIGN    124338100
14       HOUSE_AND_HOME    168712461
7                DATING    264310807
12       FOOD_AND_DRINK    273898751
29              WEATHER    426100520
16            LIFESTYLE    537643539
32  MAPS_AND_NAVIGATION    724281890
8             EDUCATION    871452000
11              FINANCE    876648734
4              BUSINESS   1001914865
13   HEALTH_AND_FITNESS   1583072512
23               SPORTS   1751174498
3   BOOKS_AND_REFERENCE   1921469576
26      PERSONALIZATION   2325494782
9         ENTERTAINMENT   2869160000
21             SHOPPING   3247848785
30        VIDEO_PLAYERS   6222002720
24     TRAVEL_AND_LOCAL   6868887146
31   NEWS_AND_MAGAZINES   7496317760
22          PHOTOGRAPHY  10088247655
18               FAMILY  10258263505
25                TOOLS  11452771915
20               SOCIAL  14069867902
27         PRODUCTIVITY  14176091369
6         COMMUNICATION  32647276251
17                 GAME  35086024415

In [18]:
app=app.rename(columns={'count':'type'})

In [19]:
app['count']=app['type'].map(x)

In [20]:
app['Users_per_app_in_K']=(app['Installs']/app['count'])/1000

In [21]:
app

                   type     Installs  count  Users_per_app_in_K
0        ART_AND_DESIGN    124338100     65         1912.893846
1     AUTO_AND_VEHICLES     53130211     85          625.061306
2                BEAUTY     27197050     53          513.151887
3   BOOKS_AND_REFERENCE   1921469576    231         8318.050113
4              BUSINESS   1001914865    460         2178.075793
5                COMICS     56086150     60          934.769167
6         COMMUNICATION  32647276251    387        84359.886953
7                DATING    264310807    234         1129.533363
8             EDUCATION    871452000    156         5586.230769
9         ENTERTAINMENT   2869160000    149        19256.107383
10               EVENTS     15973161     64          249.580641
11              FINANCE    876648734    366         2395.215120
12       FOOD_AND_DRINK    273898751    127         2156.683079
13   HEALTH_AND_FITNESS   1583072512    341         4642.441384
14       HOUSE_AND_HOME    168712461     88         1917.187057
15   LIBRARIES_AND_DEMO     62995910     85          741.128353
16            LIFESTYLE    537643539    382         1407.443819
17                 GAME  35086024415   1144        30669.601761
18               FAMILY  10258263505   1972         5201.959181
19              MEDICAL     53257437    463          115.026862
20               SOCIAL  14069867902    295        47694.467464
21             SHOPPING   3247848785    260        12491.726096
22          PHOTOGRAPHY  10088247655    335        30114.172104
23               SPORTS   1751174498    384         4560.350255
24     TRAVEL_AND_LOCAL   6868887146    258        26623.593589
25                TOOLS  11452771915    843        13585.731809
26      PERSONALIZATION   2325494782    392         5932.384648
27         PRODUCTIVITY  14176091369    424        33434.177757
28            PARENTING     31521110     60          525.351833
29              WEATHER    426100520     82         5196.347805
30        VIDEO_PLAYERS   6222002720    175        35554.301257
31   NEWS_AND_MAGAZINES   7496317760    283        26488.755336
32  MAPS_AND_NAVIGATION    724281890    137         5286.729124